[Desktop Entry]
Version=1.0
Name=MPV protocol
Comment=Open mpv:// links with MPV Media Player.
Exec=mpv-protocol %u
TryExec=mpv-protocol
Icon=mpv
Terminal=false
Type=Application
MimeType=x-scheme-handler/mpv;
NoDisplay=true
